# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# logs
*.log

# runtime data
Documents/THRUST/*.egg-info/
